#title{
	text-align:center;
	background-image
}

h4{
	font-family:'Courier New', monospace;
}

body{
	background-color: #fff;
	margin:auto;
	overflow-x:hidden;
}

#navbar{
	/*background:black;*/
	font-size:20px;
	font-family:'Courier New';
	/*width:100vw;*/
}
#navbar ul{
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	overflow:hidden;
	display:block;
}
#navbar li{
	display:inline-block;
	margin: 0;
	padding:0;
}
#navbar li a{
	/*border-radius:10px;*/
	display:block;
	color:black;
	text-align:center;
	text-decoration:none;
	padding:10px;
	transition: 0.1s;
}

#navbar li a:hover{
	/*background-color:#555555;
	opacity: 0.6;*/
	transition-timing-function: ease-in;
	color:#222222;
}

#maincontent{
	display:block;
	text-align:center;
	margin:auto;
}
p{
	color:#32574A;
	font-size:20px;
}
#main-image{
	height:auto;
	width:auto;
	max-width:500px;
	max-height:500px;
}
